<div class="container-page">
<app-header-pay></app-header-pay>

<div class="row">
      <div class="col-lg-3">
            <div class="side-navbar">
                <div class="d-flex flex-column">
                <div  class="nav-info align-items-start">
                <div class="text-initial cards" (click)="addActive()">
                    <img src="assets/home-icon.svg"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2"> Home</span>
                </div>
                <div class="text-initial mt-3 mb-3 cards"(click)="addActive()">
                    <img src="assets/dashboard.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2">Dashboard</span>
                </div>
                <div class="text-initial mt-3 cards"(click)="addActive()">
                    <img src="assets/peer-to-peer.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2">P2P Exchange</span>
                </div>
                <div class="text-initial mt-3 cards"(click)="addActive()">
                    <img src="assets/transaction.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2">Transaction History</span>
                </div>
            </div>
            <div class="nav-info log-out align-items-end flex-column ">
                <div class="text-initial mt-1">
                    <img src="assets/about.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2"> About</span>
                </div>
                <div class="text-initial mt-3">
                    <img src="assets/question.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2"> Help & Complaint</span>
                </div>
                <div class="text-initial mt-4">
                    <img src="assets/shutdown.png"  width="30" height="30" class="image-color" alt="">
                    <span class="home-title ml-2">LogOut</span>
                </div>
            </div>
                  
                </div>


            </div>
      </div>
      <div class="col-lg-6">
           <app-analytic-market></app-analytic-market>  
      </div>
      <div class="col-lg-3">
            <div class="history-card">
                <div class="history-card">
                 <div class="d-flex flex-column mb-4">
                      <div class="text-center d-flex flex-column  price  mt-4 mb-4">
                       <span>$267,820,00</span>
                       <span>your available balance</span>

                      </div>
                      <div class="d-flex justify-content-around">
                        <div class="d-flex  flex-column ">
                            <img src="assets/upload.png"  width="30" height="30"   alt="">
                            <span class="payment-title text-center">Deposit</span>
                        </div> 
                        <div class="d-flex  flex-column">
                            <img src="assets/money-withdrawal.png"  width="30" height="30" class="image-color" alt="">
                            <span class="payment-title text-center">withDraw</span>
                        </div> 
                        <div class="d-flex  flex-column">
                            <img src="assets/transaction.png"  width="30" height="30" class="image-color" alt="">
                            <span class="payment-title text-center"> Transfer</span>
                        </div> 
                      </div>
                 </div>
                 <div class="border-bottom">

                 </div>
                 <div class="d-flex flex-column mt-4">
                    <div class="d-flex d-flex justify-content-between">
                          <div class="see-title">
                          See Activity
                          </div>
                          <div class="view-title">
                         View All
                          </div>
                          
                    </div>

                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                 Deposite
                            </div>
                             <span class="sub-head-title">
                              Money Send
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            -2000
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                WithDraw
                            </div>
                             <span class="sub-head-title">
                              Money Recived
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            +2000
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                Transfer
                            </div>
                             <span class="sub-head-title">
                              Payment
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            -25
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/profile.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                Deepak
                            </div>
                             <span class="sub-head-title">
                              Money Recived
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            -200
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                 Deposite
                            </div>
                             <span class="sub-head-title">
                              Money Send
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            -2000
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                WithDraw
                            </div>
                             <span class="sub-head-title">
                              Money Recived
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            +2000
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                    <div class="d-flex transaction-detail mt-3 mb-4">
                        <img src="assets/upload.png"  class="mt-2 circle"  width="30" height="30"   alt="">
                        <div class="d-flex flex-column text-center">
                            <div class="head-title">
                                Transfer
                            </div>
                             <span class="sub-head-title">
                              Payment
                             </span>
                        </div>
                        <div class="d-flex flex-column text-center" >
                           <span class="head-title">
                            -25
                           </span>
                           <span class="sub-head-title">
                             April 2023
                           </span>
                        </div>
                    </div>
                 </div>
                </div>
            </div>
      </div>
</div>

</div>