<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="assets/icon.svg" width="30" height="30" class="d-inline-block mr-1 ml-1 align-top" alt="">
      <span class="pay-title">PAY2P</span>
    </a>
    <div>
        <img src="assets/icons8-notification.svg" width="30" height="30" class="d-inline-block mr-2 ml-2 mt-1 align-top" alt="">
        <img src="assets/profile.png" width="35" height="35" class="d-inline-block mr-1 ml-1 align-top" alt="">
    </div>
  </nav>
